@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-red {
    -webkit-text-stroke: 2px #E50914;
    color: transparent;
  }
  
  .text-stroke-white {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }

  .bg-crimson-gradient {
    background: linear-gradient(180deg, #E50914 0%, #800004 100%);
  }

  .bg-dark-card {
    background-color: #121212;
    border: 1px solid #202020;
  }

  .glow-crimson {
    box-shadow: 0 0 50px -10px rgba(229, 9, 20, 0.3);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0A0A0A;
}
::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E50914;
}
